body {
  background-color: rgb(51, 51, 51);
  font-family: "Times New Roman", Times, serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

h1 {
  color: green;
  text-align: center;
}

h2 {
  color: green;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

p {
  color: green;
  text-align: center;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
